.dark,
.dark .header,
.dark .footer,
.dark .copyrights,
.dark .social-buttons__item,
.dark .social-icons .social-icons__container,
.dark #disqus_thread:after,
.dark .sticky__box,
.dark .sticky:after,
.dark .sticky:before,
.dark .sticky__circle,
.dark .widget-categories ul,
.dark .contact form input,
.dark .contact form textarea,
.dark .boxed{
  background-color: #131313!important;
}

.dark,
.dark .header,
.dark .footer,
.dark .copyrights,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark h1 a,
.dark h2 a,
.dark h3 a,
.dark h4 a,
.dark h5 a,
.dark h6 a,
.dark .footer__text,
.dark .contact form input,
.dark blockquote,
.dark .post-author .post-author__text,
.dark .post-content{
    color: #ffffff!important;
}

.dark .boxed, 
.dark .copyrights, 
.dark .social__container, 
.dark .search__container, 
.dark hr, 
.dark .sticky__box, 
.dark .sticky:after,
.dark .sticky:before,
.dark .widget-categories ul,
.dark .widget-categories ul li a,
.dark .read-more,
.dark .navbar-default .navbar-collapse,
.dark .navbar-default .navbar-form,
.dark .meta__container--without-image,
.dark .contact form input,
.dark .footer {
    border-color: #252525!important;
}


.dark .header {
    box-shadow: 0 1px 5px #252525;
    border-top: 1px solid #252525;
}

/*

.dark .toggleDarkLight {
  background-color: #eee;
  color: #131313;
}

body.light-mode .toggleDarkLight {
  background-color: #131313;
  color: #eee;
}
*/
