---
layout: default
description: "Ahmet Çadırcı... Kişisel web sitemde yer alan blog, video, podcast, iletişim ve sosyal medya hesaplarımın linkleri yer almaktadır."
postimg: "ahmetcadirci-wallpaper.jpg"
---
<div class="main-post-list">

<div class="searchform">
  <form action="/search/" method="get">
    <input type="text" id="search-box" name="query">
    <input type="submit" class="submit" value="Ara">
  </form>
</div>

<ol class="post-list">
{% for post in paginator.posts %}
<li>
<h3 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h3>

<p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>

<div class="post-list__meta"><time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">{% for tag in post.tags %}<a href="{{ site.baseurl }}etiketler/#{{ tag }}">{{ tag }}</a> {% endfor %}</span></div>

<hr class="post-list__divider">
</li>
{% endfor %}
</ol>
<hr class="post-list__divider ">
{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
</div>