<div class="disqus-comments push-down-55" id="comments">

<div class="popzone" id="disqus_thread">
    <div class="disqus"></div>
    <div class="disqus-loading">Loading comments&hellip;</div>
</div>

<script src="//osvaldas.info/examples/lazy-loading-disqus-comments/disqusloader.js"></script>
<script>

    
    disqusLoader( '.disqus',
    {
        scriptUrl:      '//{{ site.disqus_shortname }}.disqus.com/embed.js',
        disqusConfig:   function()
        {
            this.page.identifier    = '{{page.url}}';
            this.page.url           = '{{site.url}}{{page.url}}';
            this.callbacks.onReady  = [function()
            {
                var el = document.querySelector( '.disqus-loading' );
                if( el.classList )
                    el.classList.add( 'is-hidden' ); // IE 10+
                else
                    el.className += ' ' + 'is-hidden'; // IE 8-9
            }];
        }
    });

    
</script>
  
</div>


