<div class="disqus-comments push-down-55" id="comments">

            <div class="disqus popzone" id="disqus_thread"></div>

<script src="//osvaldas.info/examples/lazy-loading-disqus-comments/disqusloader.js"></script>
<script>

    
    disqusLoader( '.disqus',
    {
        scriptUrl:      '//{{ site.disqus_shortname }}.disqus.com/embed.js',
        disqusConfig:   function()
        {
            this.page.identifier    = '{{page.url}}';
            this.page.url           = '{{site.url}}{{page.url}}';
        }
    });

    
</script>

</div>
