<section class="email">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="bg-green contact">
            <h4 class="email__title">Abone Olun ve Güncel Kalın</h4>
            <p class="email__text">Tüm yayınlarımız, bloglarımız ve video içeriklerimizi e-posta ile alın.</p>
            <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ahmetcadirci25', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
              <div class="row">
                <div class="col-xs-12">
                  <label for="email" class="white">Email Adresiniz: </label>
                  <input id="email" type="text" name="email" placeholder="E-mail Adresinizi Buraya Yazın">
                  <input type="hidden" value="ahmetcadirci25" name="uri"/>
                  <input type="hidden" name="loc" value="tr_TR"/>
                </div>
                <div class="col-xs-12">
                  <input type="submit" class="email__button" value="ABONE OL">
                 </div>
              </div>
            </form>
        </div>
        <p class="email__spam">Söz veriyoruz. Spam yok.</p>
      </div>
    </div>
  </div>
</section>