   {% include email.html %}

    <footer class="footer">
      <div class="container">
        <div class="col-xs-12  col-md-3">
          <div class="widget-about  push-down-30">
            <img src="{{ "/images/logo.svg" | prepend: site.url }}" alt="{{ site.author.name }}" height="70">
            <br/>
            <span class="footer__text">{{ site.description }}</span> 
            <br/>
            <br/>
            <div class="social-icons  widget-social-icons">
              <a href="{{ site.url }}/rss" target="_blank" class="social-icons__container"> <span class="zocial-rss"></span>  </a> 
              <a href="{{ site.url }}/podcast" target="_blank" class="social-icons__container"> <span class="zocial-podcast"></span>  </a> 
              <a href="{{ site.url }}/github" target="_blank" class="social-icons__container"> <span class="zocial-github"></span>  </a>  
              <a href="{{ site.url }}/vimeo" target="_blank" class="social-icons__container"> <span class="zocial-vimeo"></span>  </a>  
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-md-3">
          <nav class="widget-navigation  push-down-30">
            <h6>Menü</h6>
            <hr>
            <ul class="navigation">
              <li>
                <a href="{{ site.url }}">Ana Sayfa</a> 
              </li>
              <li>
                <a href="{{ site.url }}/hakkimda/">Hakkımda</a> 
              </li>
              <li>
                <a href="{{ site.url }}/sosyal-medya/">Sosyal Medya</a> 
              </li>
              <li>
                <a href="{{ site.url }}/iletisim/">İletişim</a> 
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12  col-md-3">
          <nav class="widget-navigation  push-down-30">
            <h6>Kategoriler</h6>
            <hr>
            <ul class="navigation">          
               {% for catitem in site.categories limit:5  %} 
                <li><a href="{{ site.url }}/kategoriler/#{{ catitem[0] }}">{{  catitem[0] }}</a></li>
               {% endfor %}
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12  col-md-3">
          <div class="tags  widget-tags">
            <h6>Etiketler</h6>
            <hr>
              {% for tagitem in site.tags limit:5 %} 
                  <a href="{{ site.url }}/etiketler/#{{ tagitem[0] }}" class="tags__link">{{  tagitem[0] }}</a>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
            <div class="col-xs-12  col-sm-6">
              <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Lisansı" class="license" src="https://licensebuttons.net/l/by-nc/4.0/80x15.png"/></a>
            </div>
            <div class="col-xs-12  col-sm-6">
              <div class="copyrights--right">             
                <a href="{{ site.url }}" target="_blank">Ahmet Çadırcı</a> Tarafından Kodlandı.
              </div>
            </div>
        </div>
      </div>
    </footer>

    <!--<script type="text/javascript" src="{{ "/js/jquery-3.2.1.slim.min.js" | prepend: site.url }}"></script>
    <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.url }}"></script>
    <script type="text/javascript" src="{{ "/js/lazyload.min.js" | prepend: site.url }}"></script>-->
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
    <script type="text/javascript" src="//ahmetcadirci25.disqus.com/count.js" id="dsq-count-scr"></script>
    <script type="text/javascript" src="//cdn.onesignal.com/sdks/OneSignalSDK.js"></script>

    <script type="text/javascript">

      (function (root, factory) {
          if (typeof exports === "object") {
              module.exports = factory(root);
          } else if (typeof define === "function" && define.amd) {
              define([], factory(root));
          } else {
              root.LazyLoad = factory(root);
          }
      }) (typeof global !== "undefined" ? global : this.window || this.global, function (root) {

          "use strict";

          const defaults = {
              src: "data-src",
              srcset: "data-srcset",
              selector: ".lazyload"
          };

          const extend = function ()  {

              let extended = {};
              let deep = false;
              let i = 0;
              let length = arguments.length;

              /* Check if a deep merge */
              if (Object.prototype.toString.call(arguments[0]) === "[object Boolean]") {
                  deep = arguments[0];
                  i++;
              }

              /* Merge the object into the extended object */
              let merge = function (obj) {
                  for (let prop in obj) {
                      if (Object.prototype.hasOwnProperty.call(obj, prop)) {
                          /* If deep merge and property is an object, merge properties */
                          if (deep && Object.prototype.toString.call(obj[prop]) === "[object Object]") {
                              extended[prop] = extend(true, extended[prop], obj[prop]);
                          } else {
                              extended[prop] = obj[prop];
                          }
                      }
                  }
              };

              /* Loop through each object and conduct a merge */
              for (; i < length; i++) {
                  let obj = arguments[i];
                  merge(obj);
              }

              return extended;
          };

          function LazyLoad(images, options) {
              this.settings = extend(defaults, options || {});
              this.images = images || document.querySelectorAll(this.settings.selector);
              this.observer = null;
              this.init();
          }

          LazyLoad.prototype = {
              init: function() {

                  /* Without observers load everything and bail out early. */
                  if (!root.IntersectionObserver) {
                      this.loadImages();
                      return;
                  }

                  let self = this;
                  let observerConfig = {
                      root: null,
                      rootMargin: "0px",
                      threshold: [0]
                  };

                  this.observer = new IntersectionObserver(function(entries) {
                      entries.forEach(function (entry) {
                          if (entry.intersectionRatio > 0) {
                              self.observer.unobserve(entry.target);
                              let src = entry.target.getAttribute(self.settings.src);
                              let srcset = entry.target.getAttribute(self.settings.srcset);
                              if ("img" === entry.target.tagName.toLowerCase()) {
                                  if (src) {
                                      entry.target.src = src;
                                  }
                                  if (srcset) {
                                      entry.target.srcset = srcset;
                                  }
                              } else {
                                  entry.target.style.backgroundImage = "url(" + src + ")";
                              }
                          }
                      });
                  }, observerConfig);

                  this.images.forEach(function (image) {
                      self.observer.observe(image);
                  });
              },

              loadAndDestroy: function () {
                  if (!this.settings) { return; }
                  this.loadImages();
                  this.destroy();
              },

              loadImages: function () {
                  if (!this.settings) { return; }

                  let self = this;
                  this.images.forEach(function (image) {
                      let src = image.getAttribute(self.settings.src);
                      let srcset = image.getAttribute(self.settings.srcset);
                      if ("img" === image.tagName.toLowerCase()) {
                          if (src) {
                              image.src = src;
                          }
                          if (srcset) {
                              image.srcset = srcset;
                          }
                      } else {
                          image.style.backgroundImage = "url(" + src + ")";
                      }
                  });
              },

              destroy: function () {
                  if (!this.settings) { return; }
                  this.observer.disconnect();
                  this.settings = null;
              }
          };

          root.lazyload = function(images, options) {
              return new LazyLoad(images, options);
          };

          if (root.jQuery) {
              const $ = root.jQuery;
              $.fn.lazyload = function (options) {
                  options = options || {};
                  options.attribute = options.attribute || "data-src";
                  new LazyLoad($.makeArray(this), options);
                  return this;
              };
          }

          return LazyLoad;
      });

      lazyload(document.querySelectorAll("img.lazyload"));

      
      // $("#disqus_thread html").remove();
      

      // Google Fonts
      WebFontConfig = {
        google: {
          families: ['Open+Sans:300,400,700:latin', 'Lato:700,900:latin']
        }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();


      // Service Worker
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js?v3', {
              scope: '.' // THIS IS REQUIRED FOR RUNNING A PROGRESSIVE WEB APP FROM A NON_ROOT PATH
          }).then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
          });
      };
      

      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "6d7dfc85-e98b-4a4f-b055-b7d4c4815ee5",
        safari_web_id: "web.onesignal.auto.2c5a7aa8-83b4-45ba-8e8f-e5cd6a2881a0",
        autoRegister: false,
        notifyButton: {
          enable: true,
        },
        notifyButton: {
          enable: true,
          /* Required to use the Subscription Bell */
          /* SUBSCRIPTION BELL CUSTOMIZATIONS START HERE */
          size: 'small',
          /* One of 'small', 'medium', or 'large' */
          theme: 'default',
          /* One of 'default' (red-white) or 'inverse" (white-red) */
          position: 'bottom-right',
          /* Either 'bottom-left' or 'bottom-right' */
          /* 
            offset: {
              bottom: '15px',
              left: '5px'
            },
          */
          prenotify: true,
          /* Show an icon with 1 unread message for first-time site visitors */
          showCredit: false,
          /* Hide the OneSignal logo */
          text: {
            'tip.state.unsubscribed': 'Bildirimlere Abone Ol!',
            'tip.state.subscribed': "Bildirimlere abone oldunuz",
            'tip.state.blocked': "Bildirimleri engellediniz",
            'message.prenotify': 'Bildirimlere abone olmak için tıklayın',
            'message.action.subscribed': "Abone olduğunuz için teşekkürler!",
            'message.action.resubscribed': "Bildirimlere abone oldunuz",
            'message.action.unsubscribed': "Bildirimleri tekrar almayacaksınız",
            'dialog.main.title': 'Site Bildirimlerini Yönet',
            'dialog.main.button.subscribe': 'ABONE OL',
            'dialog.main.button.unsubscribe': 'ABONELİKTEN ÇIK',
            'dialog.blocked.title': 'Bildirimlerin Engellemesini Kaldır',
            'dialog.blocked.message': "Bildirimlere izin vermek için şu talimatları:"
          },
          colors: { // Customize the colors of the main button and dialog popup button
            'circle.background': 'rgb(81,171,109)',
            'circle.foreground': 'white',
            'badge.background': 'rgb(81,171,109)',
            'badge.foreground': 'white',
            'badge.bordercolor': 'white',
            'pulse.color': 'white',
            'dialog.button.background.hovering': 'rgb(81,171,109)',
            'dialog.button.background.active': 'rgb(81,171,109)',
            'dialog.button.background': 'rgb(81,171,109)',
            'dialog.button.foreground': 'white'
          },
          /* HIDE SUBSCRIPTION BELL WHEN USER SUBSCRIBED */
          displayPredicate: function() {
            return OneSignal.isPushNotificationsEnabled()
              .then(function(isPushEnabled) {
              return !isPushEnabled;
            });
          }
        },
        welcomeNotification: {
          "title": "Ahmet Çadırcı",
          "message": "Abone olduğun için teşekkürler!",
          // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
        },
        promptOptions: {
          /* actionMessage limited to 90 characters */
          actionMessage: "En son yazılardan ve içeriklerden bildirim almak istiyor musun?",
          /* acceptButtonText limited to 15 characters */
          acceptButtonText: "EVET!",
          /* cancelButtonText limited to 15 characters */
          cancelButtonText: "Hayır"
        }
      }]);
      OneSignal.push(function() {
        OneSignal.showHttpPrompt();
      });
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX5WC3P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script type="application/ld+json">
     [
      {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "Ahmet Çadırcı",
            "jobTitle": "Web Geliştirici",
            "url": "https://ahmetcadirci.com.tr",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Şişli",
              "addressRegion": "İstanbul"
            }
          },
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite", 
          "name" : "Ahmet Çadırcı",
          "url" : "https://ahmetcadirci.com.tr/",
          "potentialAction" : {
            "@type" : "SearchAction",
            "target" : "https://ahmetcadirci.com.tr/search/?q={searchTerms}",
            "query-input" : "gsc-input"
          }                     
        }
    ]
    </script>