<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-md-12">
      <div class="widget-about push-down-30 text-center">
        <img src="{{ "/images/logo.svg" | prepend: site.url }}" alt="{{ site.author.name }}" class="push-down-20" height="70">
        <br/>
        <span class="footer__text">{{ site.description }}</span> 
        <br/>
        <br/>
        <div class="social-icons widget-social-icons text-center">
          <a href="{{ site.url }}/r/rss" target="_blank" class="social-icons__container" title="RSS"> <svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg>   </a> 
          <a href="{{ site.url }}/r/github" target="_blank" class="social-icons__container" title="Github"> <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>   </a>  
          <a href="{{ site.url }}/r/flickr" target="_blank" class="social-icons__container" title="Flickr"> <svg class="icon icon-flickr"><use xlink:href="#icon-flickr"></use></svg>   </a> 
          <a href="{{ site.url }}/r/vimeo" target="_blank" class="social-icons__container" title="Vimeo"> <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>   </a>  
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
        <div class="col-xs-12  col-sm-6">
          Bu eser <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/deed.tr"> Creative Commons Atıf-GayriTicari 4.0 Uluslararası Lisansı</a> ile lisanslanmıştır.
        </div>
        <div class="col-xs-12  col-sm-6">
          <div class="copyrights--right">             
            <a href="{{ site.url }}" target="_blank">Ahmet Çadırcı</a> tarafından kodlandı.
          </div>
        </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://{{ site.disqus_shortname }}.disqus.com/count.js" id="dsq-count-scr" async></script>
<script type="text/javascript">

  // Menu
  document.querySelectorAll(".navbar-toggle")[0].addEventListener("click", function() {
    document.querySelectorAll(".navbar-collapse")[0].classList.toggle("in");
  });

  //toggleDarkLight
	var firstDarkMode = "light";
	var setDarkModeToggle = function(){
		var mode = localStorage.getItem("displayMode");
		if (mode == null)
			mode = firstDarkMode;

	    if ( mode == "dark"){
	    	localStorage.setItem("displayMode", "light");	
	    }else{
  		    localStorage.setItem("displayMode", "dark");	
	    }	
	}
	var checkdarkModeToggle = function(){
        document.body.classList.remove("dark" , "light");
	    var mode = localStorage.getItem("displayMode");
		if (mode == null)
			mode = firstDarkMode;

	    if ( mode == "dark"){
	    	document.body.classList.add("dark");
	    }else{
	    	document.body.classList.add("light");
	    }
	}
	document.getElementById("darkModeToggle").addEventListener("click", function() {
		setDarkModeToggle();
		checkdarkModeToggle();
	});
	checkdarkModeToggle();

  // canvas
   var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    w = ctx.canvas.width = window.innerWidth;
    h = ctx.canvas.height = window.innerHeight;

    var resizeTimer;
    vx = 3; vm = 0; ft = 0;

    window.onresize = function() {
      w = ctx.canvas.width = window.innerWidth;
      h = ctx.canvas.height = window.innerHeight;
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(function() {
        render();
      }, 200);
    };

    function rnd(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function render() {
    ctx.fillStyle = "#000";
    ctx.fillRect(0, 0, w, h);
    ft==1?hueStart=rnd(0, 360):hueStart=230; ft=1;
    var triSide = rnd(28,34);
    var halfSide = triSide / 2;
    var rowHeight = Math.floor(triSide);//triSide*.866
    var columns = Math.ceil(w / triSide) + 1;
    var rows = Math.ceil(h / rowHeight);

    var col, row;
    for (row = 0; row < rows; row++) {
      var hue = hueStart + row * 4;

      for (col = 0; col < columns; col++) {
        var xo = Math.random()*(vx-vm)+vm;
        var yo = Math.random()*(vx-vm)+vm;
        
        var x = col * triSide;
        var y = row * rowHeight;
        var clr;

        row%2!=0?x-=halfSide:0;
        
        var li = rnd(0+(col*.2), 5+(col*.8));
        var grd = ctx.createLinearGradient(x-(xo*col),y-(yo*col),x - halfSide,y + rowHeight);
        grd.addColorStop(1, "hsl(" + hue + ", 30%, " + li + "%)");
        grd.addColorStop(0, "hsl(" + (hue+50) + ", 70%, " + li + "%)");
        ctx.fillStyle = grd;
        ctx.strokeStyle = "#000";
        ctx.beginPath();
        ctx.moveTo(x-(xo*col), y-(yo*col));
        ctx.lineTo(x + halfSide, y + rowHeight);
        ctx.lineTo(x - halfSide, y + rowHeight);
        ctx.closePath();
        ctx.fill();
        ctx.stroke();

        var grd2 = ctx.createLinearGradient(x-(xo*col),y-(yo*col),x + halfSide,y + rowHeight);
        grd2.addColorStop(1, "hsl(" + hue + ", 30%, " + li + "%)");
        grd2.addColorStop(0, "hsl(" + (hue+50) + ", 70%, " + li + "%)");
        ctx.fillStyle = grd2;
        ctx.strokeStyle = "#000";
        ctx.beginPath();
        ctx.moveTo(x-(xo*col), y-(yo*col));
        ctx.lineTo(x + triSide, y);
        ctx.lineTo(x + halfSide, y + rowHeight);
        ctx.closePath();
        ctx.fill();
        ctx.stroke();
      }
    }
  }
  render();
  canvas.addEventListener("click", render);

  // Service Worker
  if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {
          scope: '.' // THIS IS REQUIRED FOR RUNNING A PROGRESSIVE WEB APP FROM A NON_ROOT PATH
      }).then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
      });
  };
  
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX5WC3P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="application/ld+json">
 [
  {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Ahmet Çadırcı",
        "jobTitle": "Web Geliştirici",
        "url": "{{site.url}}/",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Şişli",
          "addressRegion": "İstanbul"
        }
      },
    {
      "@context" : "http://schema.org",
      "@type" : "WebSite", 
      "url" : "{{site.url}}/",
      "potentialAction" : {
        "@type" : "SearchAction",
        "target" : "{{site.url}}/search/?q={searchTerms}",
        "query-input": "required name=searchTerms"
      }                     
    }
]
</script>
