<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.url == '/' %}
      <title>Ahmet Çadırcı — Web Geliştirici</title>
      {% seo title=false %}
    {% elsif paginator %}
      <title> Sayfa {{ paginator.page }} | {{ site.title }}</title>
      {% seo title=false %}
    {% else %}
      {% seo %}
    {% endif %}

    <meta name="msapplication-TileColor" content="#51ab6d">
    <meta name="msapplication-TileImage" content="{{ "/images/favicons/mstile-144x144.png" | prepend: site.url }}">
    <meta name="theme-color" content="#51ab6d">
    
    <link rel="manifest" href="{{ "/images/favicons/manifest.json" | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ "/images/favicons/favicon.ico" | prepend: site.url }}">
    <link rel="apple-touch-icon" href="{{ "/images/favicons/apple-touch-icon-180x180.png" | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.url }}" async>
    <link rel="search" type="application/opensearchdescription+xml" title="{{ site.title }}" href="{{ "/opensearch.xml" | prepend: site.url }}">    
    <link rel="publisher" href="https://plus.google.com/+{{ site.author.googleplus_username }}">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nbodekgjbangnjgljilfmnckkjlliaab">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://feeds.feedburner.com/ahmetcadirci25">
    <link rel="prerender" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

    <link rel="dns-prefetch" href="//ahmetcadirci.com.tr">
    <link rel="dns-prefetch" href="//licensebuttons.net">
    <link rel="dns-prefetch" href="//ahmetcadirci25.disqus.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//ssl.google-analytics.com">
    <link rel="dns-prefetch" href="//static.hotjar.com">
    <link rel="dns-prefetch" href="//script.hotjar.com">
    <link rel="dns-prefetch" href="//vars.hotjar.com">
    <link rel="dns-prefetch" href="//in.hotjar.com">
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
    <link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//tpc.googlesyndication.com">
    <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
    <link rel="dns-prefetch" href="//www.gstatic.com">
    <link rel="dns-prefetch" href="//adservice.google.com.tr">
    <link rel="dns-prefetch" href="//api.adsnative.com">
    <link rel="dns-prefetch" href="//rudy.adsnative.com">
    <link rel="dns-prefetch" href="//in.hotjar.com">
    <link rel="dns-prefetch" href="//x.bidswitch.net">
    <link rel="dns-prefetch" href="//rudy-eu-west-1.adsnative.com">
    <link rel="dns-prefetch" href="//static.adsnative.com">
    <link rel="dns-prefetch" href="//c.disquscdn.com">
    <link rel="dns-prefetch" href="//static.openguid.org">
    <link rel="dns-prefetch" href="//player.vimeo.com">
    <link rel="dns-prefetch" href="//i.vimeocdn.com">
    <link rel="dns-prefetch" href="//f.vimeocdn.com">
    <link rel="dns-prefetch" href="//cdn.onesignal.com">
    <link rel="dns-prefetch" href="//onesignal.com">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KX5WC3P');</script>
    <!-- End Google Tag Manager -->
</head>

