<nav class="pagination push-down-45" role="navigation">
  <div class="row">
    <div class="col-md-4">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a rel="prev" class="tags__link pull-left" href="{{ "/" | prepend: site.url }}" title="Yeni Yazılar">← Yeni Yazılar</a>
        {% else %}
          <a rel="prev" class="tags__link pull-left" href="{{ site.url }}/page{{ paginator.previous_page }}/">← Yeni Yazılar</a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-4 text-center">
      <span class="pagination__page-number">Sayfa {{ paginator.page}} of {{ paginator.total_pages}}</span>
    </div>
    <div class="col-md-4">
        {% if paginator.next_page %}
          <a rel="next" class="tags__link pull-right" href="{{ site.url }}/page{{ paginator.next_page }}/" title="Eski Yazılar">Eski Yazılar →</a>
        {% endif %}
    </div>
  </div>
</nav>