<div class="social-buttons social-buttons--content social-buttons--content-before">
<div class="social-buttons__list social-buttons__list--icon">

<!-- Facebook -->
<a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}?utm_source=Facebook&amp;utm_medium=Paylaş" target="_blank" aria-label="Facebook Paylaş" class="social-buttons__item item-facebook">
  <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
</a>

<!-- Twitter -->
<a href="https://twitter.com/intent/tweet/?text={{ page.title }}&url={{ site.url }}{{ page.url }}?utm_source=Twitter&amp;utm_medium=Paylaş" target="_blank" aria-label="Twitter Paylaş" class="social-buttons__item item-twitter">
  <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
</a>

<!-- Pinterest -->
<a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}?utm_source=Pinterest&amp;utm_medium=Paylaş" target="_blank" aria-label="Pinterest Paylaş" class="social-buttons__item item-pinterest">
  <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
</a>

<!-- Reddit -->
<a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}?utm_source=Reddit&amp;utm_medium=Paylaş&title={{ page.title }}" target="_blank" aria-label="Reddit Paylaş" class="social-buttons__item item-reddit">
  <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
</a>

<!-- E-Mail -->
<a href="mailto:?subject={{ page.title }}&body=Bu siteye bir göz atın {{ site.url }}{{ page.url }}?utm_source=Email&amp;utm_medium=Paylaş" target="_self" aria-label="E-Mail Paylaş" class="social-buttons__item item-email">
  <svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg>    
</a>

</div>
</div>