<div class="col-xs-12  col-md-4">
          
          <!-- Widget author -->
          <div class="widget-author  boxed  push-down-30">
            <div class="widget-author__image-container">
              <div class="widget-author__avatar--blurred">
                <img src="{{ "/images/hakkimizda.png" | prepend: site.url }}" alt="{{ site.author.name }}">
              </div>
              <img class="widget-author__avatar" src="{{ "/images/avatar.svg" | prepend: site.url }}" alt="{{ site.author.name }}" width="90" height="90">
            </div>
            <div class="row">
              <div class="col-xs-10  col-xs-offset-1">
                <h1 class="about-h1"><a href="{{site.url}}/hakkimda/">{{ site.author.name }}</a></h1>
                <p>{{ site.description }}</p>
              </div>
            </div>
          </div>
          
          <div class="sidebar search-widget boxed push-down-30">
            <div class="row">
             
              <div class="col-xs-10 col-xs-offset-1">
                 <script>
                  (function() {
                    var cx = 'partner-pub-1520578717247025:1411692126';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:searchbox-only resultsUrl="/search/"></gcse:searchbox-only>

              </div>
              
            </div>
          </div>

          <div class="sidebar  boxed  push-down-30">
            <div class="row">
             
              <div class="col-xs-10  col-xs-offset-1">

                <!-- Widget featured 
                {% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}
                <div class="widget-featured-post  push-down-30">
                  <h4>Öne Çıkan Yazı</h4>
                  <hr>
                  <img src="{{ site.url }}/images/loading.gif" data-src="{{ site.url }}/images/{{ site.posts[random].image }}" alt="{{ post.title }}" class="lazyload" height="127">
                  <h5>
                    <a href="{{ site.url }}{{ site.posts[random].url }}">{{ site.posts[random].title }}</a> 
                  </h5>
                </div>-->


                <!-- Widget categories -->
                <div class="widget-categories  push-down-30">
                  <h4 class="push-up-0">Kategoriler</h4>
                  <hr>
                  <ul>
                      {% for catitem in site.categories  %} 
                      <li><a href="{{ site.url }}/kategoriler/#{{ catitem[0] }}">{{  catitem[0] }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
                
                <!-- Widget posts -->
                <div class="widget-posts  push-down-30">
                  <h4>En Son Eklenen Yazılar</h4>
                  <hr>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="recent-posts">
                      
                      {% for post in site.posts limit:5 %}
                      <div class="push-down-15">
                        <h5>
                          <a href="{{ site.url }}/{{ post.url | remove_first: '/' }}">{{ post.title }}</a> 
                        </h5>
                        <span class="widget-posts__time">{{ post.date | date: "%d.%m.%Y" }}</span> 
                      </div>
                      {% endfor %}

                    </div>
                    
                  </div>
                </div>
                <div class="tags  widget-tags">
                  <h4>Etiketler</h4>
                  <hr>
                  {% for tagitem in site.tags limit:5 %} 
                  <a href="{{ site.url }}/etiketler/#{{ tagitem[0] }}" class="tags__link">{{  tagitem[0] }}</a>
                  {% endfor %}
                </div>

                
                <div class="social-icons  widget-social-icons  push-down-30">
                  <h4>Sosyal Medya</h4>
                  <hr>
                  <a href="{{ site.url }}/r/rss" target="_blank" class="social-icons__container" title="RSS"> <svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg>   </a> 
                  <a href="{{ site.url }}/r/github" target="_blank" class="social-icons__container" title="Github"> <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>   </a>  
                  <a href="{{ site.url }}/r/flickr" target="_blank" class="social-icons__container" title="Flickr"> <svg class="icon icon-flickr"><use xlink:href="#icon-flickr"></use></svg>   </a> 
                  <a href="{{ site.url }}/r/vimeo" target="_blank" class="social-icons__container" title="Vimeo"> <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>   </a> 
                </div>
              </div>
            </div>
          </div>
        </div>