<div class="col-xs-12 col-md-4">

  <div class="push-down-30">
    <a href="{{ site.url }}/podcast/?utm_source=sidebar&utm_medium=link"><img loading="lazy" src="{{ "/images/turkce-podcast.svg" | prepend: site.url }}" class="img-responsive" alt="Türkçe Podcast"></a>
  </div>
  <!-- boxed -->
  
  <div class="widget-author  boxed  push-down-30">
    <div class="widget-author__image-container">
      <div class="widget-author__avatar--blurred">

        <picture>
          <source loading="lazy" type="image/webp" srcset="{{ "/images/hakkimizda.png" | prepend: site.url | replace: 'png', 'webp' }}" alt="{{ site.author.name }}">
          <img loading="lazy" loading="lazy" src="{{ "/images/hakkimizda.png" | prepend: site.url }}" alt="{{ site.author.name }}">
        </picture>

      </div>
      <img loading="lazy" class="widget-author__avatar" src="{{ "/images/avatar.svg" | prepend: site.url }}" alt="{{ site.author.name }}" width="90" height="90">
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h1 class="about-h1"><a href="{{site.url}}/hakkimda/">{{ site.author.name }}</a></h1>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
  <!-- boxed -->
  
   <div class="sidebar search-widget boxed push-down-30" style="padding:0">
    <a href="{{site.url}}/sponsor/?utm_source=sidebar&utm_medium=link">
      <picture style="margin-bottom: 0">
        <source loading="lazy" type="image/webp" class="wp-post-image" srcset="{{ "/images/kenar-sponsorluk.webp" | prepend: site.url }}" alt="Sponsorluk Alanı">
        <img loading="lazy" class="wp-post-image" src="{{ "/images/kenar-sponsorluk.png" | prepend: site.url }}" alt="Sponsorluk Alanı">
      </picture>    
    </a>
  </div>
  
  <div class="sidebar search-widget boxed push-down-30">
    <div class="row">
     
      <div class="col-xs-10 col-xs-offset-1">
         <script>
          (function() {
            var cx = 'partner-pub-1520578717247025:1411692126';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:searchbox-only resultsUrl="/search/"></gcse:searchbox-only>

      </div>
      
    </div>
  </div>

  <div class="sidebar boxed push-down-30">
      <div class="row">
       
        <div class="col-xs-10 col-xs-offset-1">

          <!-- Widget featured -->
          {% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}
          <div class="widget-featured-post  push-down-30">
            <h4 class="push-up-0 push-down-10"> Öne Çıkan Yazı </h4>
            <hr>
            <a href="{{ site.url }}{{ site.posts[random].url }}">
              <picture>
                <source loading="lazy" type="image/webp" class="wp-post-image" srcset="{{ site.url }}{{site.posts[random].image | replace: 'png', 'webp'}}" alt="{{ site.posts[random].title }}">
                <img loading="lazy" class="wp-post-image" src="{{ site.url }}{{site.posts[random].image}}" alt="{{ site.posts[random].title }}">
              </picture>
              <p><b>{{ site.posts[random].title }}</b></p>
            </a>
          </div>
          
      </div>
    </div>
  </div>
  <!-- boxed -->

  <div class="sidebar boxed push-down-30">
    <div class="row">
     
      <div class="col-xs-10 col-xs-offset-1">

        <!-- Widget categories -->
        <div class="widget-categories push-down-30">
          <h4 class="push-up-0 push-down-10">Kategoriler</h4>
          <hr>
          <ul>
              {% for catitem in site.categories  %} 
              <li><a href="{{ site.url }}/kategoriler/#{{ catitem[0] }}">{{  catitem[0] }}</a></li>
              {% endfor %}
          </ul>
        </div>

      </div>
      <!-- col-xs-10 -->

    </div>
    <!-- row -->
  </div>
  <!-- boxed -->


  <div class="sidebar boxed push-down-30">
    <div class="row">
     
      <div class="col-xs-10 col-xs-offset-1">
    
        <div class="widget-posts push-down-30">
          <h4 class="push-up-0 push-down-10">En Son Eklenen Yazılar</h4>
          <hr>

          <div class="tab-content">
            <div id="recent-posts">
              {% for post in site.posts limit:5 %}
              <div class="push-down-15">
                <h5><a href="{{ site.url }}/{{ post.url | remove_first: '/' }}">{{ post.title }}</a></h5>
                <span class="widget-meta__categories push-right-10"><svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>  {% for categories in post.categories limit:1 %} {{ categories }}{% endfor %} </span>
                <span class="widget-posts__time"><svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg> {{ post.date | date: "%d.%m.%Y" }}</span> 
              </div>
              <hr class="push-down-10">
              {% endfor %}
            </div>
          </div>
          <!-- tab-content -->
        </div>
        <!-- widget-posts -->

      </div>
      <!-- col-xs-10 -->

    </div>
    <!-- row -->
  </div>
  <!-- boxed -->


  <div class="sidebar boxed push-down-30">
    <div class="row">
     
      <div class="col-xs-10 col-xs-offset-1">

        <!-- Widget categories -->
        <div class="widget-categories push-down-30">
          <h4 class="push-up-0 push-down-10">Diğer Bağlantılar</h4>
          <hr>
          <ul>
              <li><a href="{{ site.url }}/sublime-text-3/?utm_source=sidebar&utm_medium=link">Sublime Text 3</a></li>
              <li><a href="{{ site.url }}/prompter/?utm_source=sidebar&utm_medium=link">Prompter</a></li>
              <li><a href="{{ site.url }}/htmleditor/?utm_source=sidebar&utm_medium=link">HTML Editör</a></li>
              <li><a href="{{ site.url }}/ayrac/?utm_source=sidebar&utm_medium=link">Yer İşaretleri Ayracı</a></li>
          </ul>
        </div>

      </div>
      <!-- col-xs-10 -->

    </div>
    <!-- row -->
  </div>
  <!-- boxed -->

</div>
