<form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ahmetcadirci25', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email"  placeholder="Mail Adresinizi Buraya Girin" />
	 	
	 	<input type="hidden" value="ahmetcadirci25" name="uri"/>
        <input type="hidden" name="loc" value="tr_TR"/>
    </div>

    <button type="submit" value="Subscribe" name="subscribe" class="subscribe-button" {% unless site.subscribe %}disabled{% endunless %}><span>Abone Ol</span></button>

</form>
