<!DOCTYPE html>
<html lang="tr">

{% include head.html %}
  
  <style>
    iframe[src="//disqusads.com/ads-iframe/"]{
        display: none !important;
        position: absolute!important;
        top: -99999999px!important;
      }

      iframe#dsq-app5729 {
          display: none!important;
      }
  </style>

  <body>

    <!-- start header -->
    {% include header.html %}
    <!-- end header -->

    {{ content }}
    
    <!-- start footer -->
    {% include footer.html %}
    <!-- end footer -->

  </body>
</html>
