---
layout: default
---
<article class="post-container post-container--single">
	<header class="post-header">
		<div class="post-meta">
			<time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">Tarih: {{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">Etiket: {% for tag in page.tags %}<a href="{{ site.url }}/etiketler/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
		</div>
		<h2 class="post-title">{{ page.title }}</h2>
		<div class="share">
			<div class="addthis_inline_share_toolbox"></div>
			<hr>
		</div>
	</header>
	<section class="post">
		{{ content }}
	</section>
	<div class="related">
		<div class="addthis_relatedposts_inline"></div>
	</div>
	<hr>  

	<form style="border:1px solid #ccc;padding: 1.3em 0 0 0;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ahmetcadirci25', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
		<p>Email adresinizi giriniz:</p>
		<p><input type="text" name="email"/></p>
		<p>
			<input type="hidden" value="ahmetcadirci25" name="uri"/>
			<input type="hidden" name="loc" value="tr_TR"/>
		</p>
		<p>
			<input class="gonder" type="submit" value="Abone Ol" />
		</p>
		<p><a href="http://feeds.feedburner.com/ahmetcadirci25" target="_blank" rel="noopener">FeedBurner</a> tarafından sağlanmaktadır.</p>
	</form>

	<hr>  

	<p><i class="icon icon-comments"></i> YORUMLAR</p>

	{% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}